{% macro icon(name) -%}
    {%- if name == 'edit' -%}
        <span class="material-symbols-outlined">edit</span>
    {%- elif name == 'delete' -%}
        <span class="material-symbols-outlined">delete_forever</span>
    {%- elif name == 'download' -%}
        <span class="material-symbols-outlined">download</span>
    {%- elif name == 'refresh' -%}
        <span class="material-symbols-outlined">refresh</span>
    {%- elif name == 'copy' -%}
        <span class="material-symbols-outlined">content_copy</span>
    {%- elif name == 'sun' -%}
        <span class="material-symbols-outlined icon-sun">light_mode</span>
    {%- elif name == 'moon' -%}
        <span class="material-symbols-outlined icon-moon">dark_mode</span>
    {%- elif name == 'cancel' -%}
        <span class="material-symbols-outlined">cancel</span>
    {%- elif name == 'chevron-down' -%}
        <span class="material-symbols-outlined icon-chevron">keyboard_arrow_down</span>
    {%- endif -%}
{%- endmacro %}


{% macro podcast_title(p, error_badge=false) -%}
    {{ p.title or p.url }}
    {%- if error_badge and p.status == 'error' %} <span class="badge badge-limit">error</span>{% endif -%}
{%- endmacro %}
